#LLM PROVIDERS
OPENAI_API_KEY="sk-proj-mI82oQqSZr-0NjBOBlifdQXRIXiBc9cJHihyXzomPa4mFJV29lpHSGrr-eUVcbO09aRcepD1gLT3BlbkFJ1GoBYgGyGWG2Vh5hYShbPQ7mxZZk5qGjzRAdWMiyjhgG096AhiPiLrmAsRdyrKlnsTOd_kHl4AY"
ANTHROPIC_API_KEY="AIzaSyAgk9rc_RmMwlU-JuN3jY_brvQkSSthqRg"
GOOGLE_API_KEY="YOUR_GOOGLE_API_KEY"

#LANGFUSE
LANGFUSE_PUBLIC_KEY="pk-lf-0cf8d34a-4306-4883-9902-2925610ffd7f"
LANGFUSE_SECRET_KEY="sk-lf-5df57175-4d36-4665-af3f-13c2c776dffe"
LANGFUSE_HOST="https://cloud.langfuse.com"

#BACKEND API URL
BACKEND_API_URL="YOUR_BACKEND_API_URL"

#REDIS HOST
REDIS_HOST_URL="YOUR_REDIS_HOST_URL"
REDIS_PORT="YOUR_REDIS_PORT"
REDIS_DB=""

JWT_SECRET=""
JWT_KEY_ID=""
FASTLY_WEBSOCKET_URL=""


CLOUD_TASK_HOST_URL=""
CLOUD_TASK_PORT=""

CLOUD_TASK_QUEUE=""

# Sentry 
SENTRY_DSN=""
